<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
    <ion-title>Bienvenido {{userHome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
   <ion-card-header>
     <ion-card-title>Lista de ramos</ion-card-title>
     <ion-card-subtitle>Seleccione el ramo</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-list>
       <ion-item>
         <ion-label (click)="navegar()">{{message}}</ion-label>
       </ion-item>
 
       
 
     </ion-list>
   </ion-card-content>
 </ion-card>
<ion-button (click)="Mostrar()">Cargar los cursos como un campeon</ion-button>
<ion-button (click)="Actualizar()">Actualizar el nombre de un curso</ion-button>

</ion-content>
