<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
    <ion-title>Lista del curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Aqui estara el codigo qr</p>
  <ion-card id="icon">
    <img src="../../../assets/img/Imagen-prueba.jpg">

  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label>alumno 1</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>alumno 2</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>alumno 3</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
