<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" [routerLink]="['/home-profesor']"></ion-icon>
    <ion-title>Lista del curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card id="icon">
    <img src="../../../assets/img/generatedQrCode.png">

  </ion-card>
  <ion-list>
    <ion-item *ngFor= "let x of listaCurso.slice(0,15)">
      <ion-label>{{x.title}}</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    
  </ion-list>
</ion-content>
